PUBLIC_BASE_URL=https://tu-dominio.up.railway.app
WHATSAPP_ENABLED=false
WHATSAPP_PHONE_NUMBER_ID=1115702228296745
WHATSAPP_BUSINESS_ACCOUNT_ID=1510250424161216
WHATSAPP_ACCESS_TOKEN=CONFIGURAR_EN_RAILWAY
WHATSAPP_API_VERSION=v25.0
WHATSAPP_TEMPLATE_LANGUAGE=es_AR
WHATSAPP_USE_ARGENTINA_TEST_FORMAT=false
